/* body {
    overflow-x: hidden;
} */


.font {
    font-family: 'Delicious Handrawn', cursive;
}

.styl {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.img {
    margin: 0 auto;
    width: 1000px;
}

.pkg {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
}